@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@font-face{
    font-family : 'Lexend';
    src: url(../public/Lexend/Lexend-VariableFont_wght.ttf);
    font-style: normal;
}

#b-font{
    font-family: 'Lexend';
    font-weight: 600;
}
#head{
    font-family: 'Lexend';
    font-weight: 500;
}
#nav-head{
    font-family: 'Lexend';
    font-weight: 400;
}
#p-font{
    font-family: 'Lexend';
    font-weight: 300;
}

.btn-curv{
    border-radius: 10px 50px 10px 50px;
    font-family: 'Lexend';
    font-weight: 500;
}


#bg-posterS{
    background-image: url(../public/images/Group.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position:  bottom;
    padding: 0px;
    }


        #bg-poster{
            background-image: url(../public/images/poster-head.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100%;
            background-position:center;
            
            }
    
 
@media(max-width: 1024px){
    #nav-drawer{
display: block;
    }
}
@media(min-width: 1024px){
    #nav-drawer{
display: none;
    }
}
@media(max-width: 1024px){
    #nav-menu{
display: none;
    }
}
@media(min-width:1024px){
    #nav-menu{
display: block;
    }
}

@media(max-width:640px) and (min-width:390px) {
    .xsm-drawer{
        width: 25%;
    }
.xms-m{
    padding: 50px 0px;
}

.contain-div{
    margin-left: 40px;
}


.text-Mixing{
    font-size: 9px;
}

.text-Curated{
    font-size: 18px;
    line-height: 20px;
   
}

.text-Herbal{
    font-size: 22px;
    line-height: 16px;
    margin: 2px 0px;
}

.pera-Explore{
    font-size: 5px;
    margin: 2px 0px;
}

.head-bttn{
    font-size: 8px;
    line-height: 8px;
    padding: 6px 10px;
}
}

#image2{
    position: relative;
   
}
#img1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  
}
#img4{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
}
#image2:hover #img1{
    opacity: 0.3;
}
#image2:hover #img4{
    opacity: 1;

}
#image2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    z-index: -1;
    border-radius: 10px;
}
#img4{
 width: 30px;
  font-size: 50px;
}

/* Slide in */
#w3rcontainer{
    border: 1px solid #cccfdb;
    border-radius: 1px;
 } 
 #hover-underline-animation {
   display: inline-block;
   position: relative;
 
 }
 
 #hover-underline-animation:after {
   content: '';

   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #000000;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
 }
 
 #hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }


 li {
    position: relative;
    color: #000;
    text-decoration: none;
}

li:hover {
    color: #000;
}

li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%; 
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

li:hover::before {
    transform: scaleX(1);
}

